.row {
  margin: 0;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  padding: 0;
}
.leaflet-contextmenu {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
  border: none;
  background-color: white;
  border-radius: 0px;
  margin: 0 0 7px 0;
  padding: 0;
}
.leaflet-contextmenu a.leaflet-contextmenu-item {
  line-height: 30px;
  font-size: 15px;
}
.leaflet-contextmenu a.leaflet-contextmenu-item .over {
  background-color: #eeeeee;
}
.leaflet-contextmenu a.leaflet-contextmenu-item .leaflet-contextmenu-icon {
  margin: 0 5px 0 0;
  line-height: 30px;
}
.leaflet-popup-content-wrapper {
  box-shadow: black 3px 3px 10px;
  border-radius: 0px;
}
.leaflet-control {
  z-index: initial;
  box-shadow: black 3px 3px 10px;
  border: none;
  border-radius: 0px;
}
.panel-shadow {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
}
.panel {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
  border: none;
  background-color: white;
  border-radius: 0px;
  margin: 0 0 7px 0;
}
.drag-drop :hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.drag-drop :active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.start-icon {
  color: #38a9dc;
}
.destination-icon {
  color: #38a9dc;
}
.action-icon {
  text-align: center;
}
.action-icon i,
.action-icon span {
  font-size: 18px;
  padding: 8px;
}
.action-icon :hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.disabled-icon {
  color: gray;
  cursor: auto;
}
.focus-in {
  color: #666666;
}
body {
  overflow: hidden;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.left-block {
  padding: 0;
  margin: 10px;
  max-width: 400px;
}
#routes-panel,
#error-panel,
#cancel-button {
  display: none;
}
#search-group .search-line:hover button {
  color: #666666;
}
#search-group .search-line {
  border-bottom: solid #cccccc 1px;
}
#search-group .search-line .search-addon,
#search-group .search-line .input-value {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-left: 0;
  border-top: 0;
}
#search-group .search-line .input-value {
  height: 35px;
}
#search-group .right-addon {
  background-color: white;
}
#search-group .right-addon .remove-point,
#search-group .right-addon .remove-point:focus {
  color: white;
  outline: 0;
}
.slider-label {
  line-height: 35px;
  padding-left: 10px;
  font-style: oblique;
}
#cancel-button {
  float: right;
}
#error-panel {
  box-shadow: black 3px 3px 10px;
  border-radius: 0px;
}
#routes-panel {
  margin: 0 0 7px 0;
}
#routes-panel .route-but {
  cursor: pointer;
}
#routes-panel .route-but :hover .main-criteria {
  background-color: #eeeeee;
}
.small-chart {
  position: relative;
  width: 100%;
  height: 120px;
}
.description-tab {
  text-align: center;
}
.description-tab .one-description {
  text-align: left;
  font-size: 18px;
}
.description-tab .one-description .description-value {
  text-align: left;
  padding-left: 5px;
}
.description-tab .one-description .description-label {
  text-align: right;
  padding-left: 5px;
}
.description-tab .plan-view-icon,
.description-tab .plan-view-span {
  float: left;
}
.description-tab .plan-view-icon-plug {
  margin-left: 5px;
}
.description-tab .plan-view-span {
  margin-top: 17px;
  float: left;
}
.description-tab .plan-view-span .plan-view-line {
  background-color: #58B358;
  height: 5px;
  border-radius: 3px;
}
#route-but-0 {
  border-bottom: solid #cccccc 1px;
}
#routes-panel .clicked-but {
  cursor: default;
  background-color: #e6e6e6 !important;
}
.fast-color {
  background-color: #ff4444;
}
.eco-color {
  background-color: #99cc00;
}
.mo-fast-color {
  background-color: #1c94c4;
}
#legend {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#legend .legend-color-block {
  width: 30px;
  height: 10px;
  float: left;
  margin: 10px;
}
#legend .legend-label {
  font-size: 12px;
  float: left;
  font-weight: bold;
  margin: 5px 10px;
}
#legend .legend-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.color-tab {
  min-height: 5px;
}
#route-but-1 {
  border-bottom: solid #cccccc 1px;
}
.main-criteria {
  padding: 3px;
}
.dis-icon {
  height: 31px;
}
.plan-view {
  display: none;
  cursor: default;
}
.supercharger-marker img {
  width: 25px;
  height: 25px;
  opacity: 0.7;
}
#wait-screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.slider {
  border: none;
  background: none;
  margin-top: 13px;
}
.slider .ui-slider-horizontal {
  height: 0.5em !important;
}
.slider .ui-slider-range {
  background-color: #38a9dc;
}
.slider .ui-slider-handle {
  margin-left: -0.3em;
  margin-top: -0.1em;
  border-radius: 5px;
  width: 6px;
}
.slider .ui-slider-handle :hover {
  cursor: -webkit-grab !important;
  cursor: -moz-grab;
}
.slider .ui-slider-handle :active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.ui-state-hover {
  border: 1px solid #adadad !important;
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important;
  background: #eeeeee !important;
  color: #38a9dc !important;
  outline: 0;
}
.ui-state-focus {
  border: 1px solid #adadad !important;
  background: #eeeeee !important;
  color: #38a9dc !important;
  outline: 0;
}
.awesome-marker {
  font-size: 18px;
  margin-top: 8px;
}
.ui-autocomplete {
  border: none;
  background: #fff;
  cursor: pointer !important;
  width: auto;
}
.ui-autocomplete .ui-menu-item:first-child {
  border-top: solid #cccccc 1px;
}
.ui-autocomplete .ui-menu-item {
  padding-left: 10px;
  line-height: 30px;
  border-bottom: solid #cccccc 1px;
}
.ui-autocomplete .ui-menu-item .ui-state-focus {
  border-bottom: none;
  background: #f0f0f0;
}
