@panel-radius: 0px;
@panel-shadow: black 3px 3px 10px;
@panel-spacing: 7px;
@panel-bgcolor: white;

@my-dodgerblue: #38a9dc; // #53b2f7; //2aabd2
@button-pressed-bgcolor: #e6e6e6;
@button-pressed-color: #333;
@button-pressed-border-color: #adadad;
@button-hover-color: #EEE;

@separator-border: solid #CCCCCC 1px;

//////////////////////////////////////////////////////////////////////////////////
//BOOTSTRAP OVERRIDE
.row {
  margin: 0;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9 , .col-md-10, .col-md-11, .col-md-12  {
  padding: 0;
}


///////////////////////////////////////////////////////////////////////////////////
//LEAFLET - plugins

.leaflet-contextmenu {
  .panel;
  padding: 0;

  a.leaflet-contextmenu-item {
    line-height: 30px;
    font-size: 15px;

    .over {
      background-color: @button-hover-color;
    }
    .leaflet-contextmenu-icon {
      margin: 0 5px 0 0;
      line-height: 30px;
    }
  }
}

.leaflet-popup-content-wrapper {
  box-shadow: @panel-shadow;
  border-radius: @panel-radius;
}

.leaflet-control {
  z-index: initial;
  box-shadow: @panel-shadow;
  border:none;
  border-radius: @panel-radius;
}
///////////////////////////////////////////////////////////////////////////////////
//General usage

//.selected-but {
//  color: @button-pressed-color;
//  background-color: @button-pressed-bgcolor;
//  border-color: @button-pressed-border-color;
//}

.panel-shadow {
  -webkit-box-shadow: @panel-shadow;
  -moz-box-shadow: @panel-shadow;
  box-shadow: @panel-shadow;
}

.panel {
  .panel-shadow;
  border: none;
  background-color: @panel-bgcolor;
  border-radius: @panel-radius;
  margin: 0 0 @panel-spacing 0;
}

.drag-drop {
  :hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
  :active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

.start-icon {
  color: @my-dodgerblue
}
.destination-icon {
  color: @my-dodgerblue;
}

.action-icon {
  text-align: center;
  i, span {
    font-size: 18px;
    padding: 8px;
  }
  :hover {
    cursor: pointer;
    background-color: @button-hover-color;
  }
}

.disabled-icon {
  color: gray;
  cursor: auto;
}

.focus-in {
  color: #666666;
}
////////////////////////////////////////////////////////////////////////////

body {
  overflow: hidden;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.left-block {
  padding: 0;
  margin: 10px;
  max-width: 400px;
}

#routes-panel, #error-panel, #cancel-button {
  display: none;
}

#search-group {
  .search-line:hover button {
    color: #666666;
  }
  .search-line {
    border-bottom: @separator-border;

    .search-addon, .input-value {
      border:none;
      box-shadow: none;
      border-radius: 0;
      border-left: 0;
      border-top: 0;
    }
    .input-value {
      height: 35px;
    }
  }
  .right-addon {
    background-color: @panel-bgcolor;
    .remove-point, .remove-point:focus {
      color: @panel-bgcolor;
      outline: 0;
    }
  }
}
.slider-label {
  line-height: 35px;
  padding-left: 10px;
  //font-weight: bold;
  font-style: oblique;
}
#cancel-button {
  float: right;
}


#error-panel {
  box-shadow: @panel-shadow;
  border-radius: @panel-radius;
}

#routes-panel {
  margin: 0 0 @panel-spacing 0;
  .route-but {
    :hover {
      .main-criteria {

        background-color: @button-hover-color;
      }
    }
    cursor: pointer;
  }
}

.small-chart {
  position: relative;
  //overflow: hidden;
  width: 100%;
  height: 120px;
}

.description-tab {
  text-align: center;

  .one-description {
    text-align: left;
    font-size: 18px;
    .description-value {
      text-align: left;
      padding-left: 5px;
    }
    .description-label {
      text-align: right;
      padding-left: 5px;
    }
  }

  .plan-view-icon, .plan-view-span{
    float: left;
  }
  .plan-view-icon-plug {
    margin-left: 5px;
  }

  .plan-view-span {
    margin-top: 17px;

    //width: 60px;
    float: left;
    .plan-view-line {
      background-color: #58B358;
      height: 5px;
      border-radius: 3px;
    }
  }
}
@cheapest-color: #99CC00;
@fastest-color: #FF4444;
@mo-fastest-color: #1c94c4;

#route-but-0 {
  .color-tab {
    //background-color: lighten(@cheapest-color, 30%);
    //background-color: @cheapest-color;
    //min-height:31px;
  }
  //:hover {
  //  background-color: lighten(@cheapest-color, 30%);
  //}

  border-bottom: @separator-border;
}

#routes-panel {
  .clicked-but {
    cursor: default;
    background-color: @button-pressed-bgcolor !important;
  }
}

.fast-color {
  background-color: @fastest-color;
}
.eco-color {
  background-color: @cheapest-color;
}
.mo-fast-color {
  background-color: @mo-fastest-color;
}

#legend {
  .panel-shadow;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: @panel-radius;
  -moz-border-radius: @panel-radius;
  border-radius: @panel-radius;

  .legend-color-block {
    width: 30px;
    height: 10px;
    float: left;
    margin: 10px;
  }

  .legend-label {
    font-size: 12px;
    float: left;
    font-weight: bold;
    //padding-left: 5px;
    //padding-right: 5px;
    //padding: 5px;
    margin: 5px 10px;
  }
  .legend-title{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
}

.color-tab {
  min-height:5px;
}

#route-but-1 {
  //:hover {
  //  background-color: lighten(@fastest-color, 20%);
  //}
  //.clicked-but {
  //  background-color: @fastest-color !important;
  //}
  border-bottom: @separator-border;
}

.main-criteria {
  padding: 3px;
  //border-bottom: @separator-border;
}

.dis-icon {
  height: 31px;
}
.plan-view {
  //padding: 10px 15px 5px 15px;
  display:none;
  cursor: default;
}

.supercharger-marker {
  img {
    width: 25px;
    height: 25px;
    opacity: 0.7;
  }
}

#wait-screen {
  display: none;
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.slider {
  border: none;
  background: none;
  margin-top: 13px;

  .ui-slider-horizontal {
    height: 0.5em !important;
  }

  .ui-slider-range{
    background-color: @my-dodgerblue;

  }
  .ui-slider-handle {
    margin-left:-0.3em;
    margin-top:-0.1em;
    border-radius:5px;
    width: 6px;
    //height: 1em;
    //border-radius: @panel-radius;
    :hover {
      cursor: -webkit-grab !important;
      cursor: -moz-grab;
    }
    :active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }
  }
}

.ui-state-hover { //, .ui-state-focus
  border: 1px solid @button-pressed-border-color !important;
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important;
  background: @button-hover-color !important;
  color: @my-dodgerblue !important;
  outline: 0;
}

.ui-state-focus {
  border: 1px solid @button-pressed-border-color !important;
  //cursor: -webkit-grabbing !important;
  //cursor: -moz-grabbing !important;
  background: @button-hover-color !important;
  color: @my-dodgerblue !important;
  outline: 0;
}

.awesome-marker {
  font-size: 18px;
  margin-top: 8px;
}

////////AUTOCOMPLETE////////

.ui-autocomplete {
  //border: @separator-border;
  border: none;
  background: #fff;
  cursor: pointer !important;
  width: auto;
  //overflow: auto;

  .ui-menu-item:first-child {
    border-top: @separator-border;
  }

  .ui-menu-item {
    padding-left: 10px;
    line-height: 30px;
    border-bottom: @separator-border;

    .ui-state-focus {
      border-bottom: none;
      background: #f0f0f0;
    }
  }
}